In [43]:
import pandas as pd
import datetime
import time

#time_data.csv now includes the time information in four different formats:

# String
# Python datetime
# Unix epoch
# Year, month, day, hour, minute and second in separate columns

df = pd.read_csv('time_data.csv')
#df.head()
#df.info()

#type(df['datetime'][0])

#Datetime is not always recognized when importing csv, needs to be fixed
df['datetime'] = pd.to_datetime(df['datetime'])
#type(df['datetime'][0])
df.head()

,time_str,datetime,unix_epoch,year,month,day,hour,minute,second,value
0,16.6.2021 0.00,2021-06-16 00:00:00,1623790800,2021,6,16,0,0,0,3.42
1,16.6.2021 1.00,2021-06-16 01:00:00,1623794400,2021,6,16,1,0,0,0.54
2,16.6.2021 2.00,2021-06-16 02:00:00,1623798000,2021,6,16,2,0,0,0.40
3,16.6.2021 3.00,2021-06-16 03:00:00,1623801600,2021,6,16,3,0,0,0.40
4,16.6.2021 4.00,2021-06-16 04:00:00,1623805200,2021,6,16,4,0,0,0.39

In [44]:
#Converting strings to other format:
#Method 1: Simply splitting the string
D = df['time_str'][0].split('.')[0] #Day. Split string into four parts divided by . and select the first one (index 0)
M = df['time_str'][0].split('.')[1] #Month, select the second one (index 1)

Y = df['time_str'][0].split(' ')[0].split('.')[2] #Year
h = df['time_str'][0].split(' ')[1].split('.')[0] #Hour
m = df['time_str'][0].split(' ')[1].split('.')[1] #Minute

print('The time is ', Y, M, D, h, m)

#Note that reading all values requiere a loop, for example
D = []
#or
#df['day'] = [0] * df.shape[0] #Empty list of values, lenght of data frame
for i in range(len(df)):
    D.append(df['time_str'][i].split('.')[0])
    #or
    #df['day'][i] = df['time_str'][i].split('.')[0]

The time is  2021 6 16 0 00

In [47]:
#Method 2, strptime
dt = datetime.datetime.strptime(df['time_str'][0],'%d.%m.%Y %H.%M')  

print('The time in datetime format is ', dt)

#Note that '%d.%m.%Y %H.%M' must exactly describe the string!

# #Values can be excracted from datetime
Y = dt.year
M = dt.month
D = dt.day
h = dt.hour
m = dt.minute
s = dt.second
print('The time is ', Y, M, D, h, m,s)

# And all the values in the loop
# df['datetime'] = [0] * df.shape[0] #Empty list of values, lenght of data frame
# for i in range(len(df)):
#    df['datetime'][i] = datetime.datetime.strptime(df['time_str'][i],'%d.%m.%Y %H.%M')

The time in datetime format is  2021-06-16 00:00:00
The time is  2021 6 16 0 0 0

In [50]:
#Unix epoch from datetime
unix_epoch = time.mktime(df['datetime'][0].timetuple())
print('Unix timestampt of the first value is ', unix_epoch)


#From separate year, month, day, hour, minute and second
d = datetime.datetime(Y,M,D,h,m,s)
unix_epoch2 = time.mktime(d.timetuple())
print('Unix timestampt of the first value is ', unix_epoch2)

#And in the loop:

df['unix_epoch'] = [0] * df.shape[0] #Empty list of values, lenght of data frame
for i in range(len(df)):
    df['unix_epoch'][i] = time.mktime(df['datetime'][i].timetuple())

Unix timestampt of the first value is  1623790800.0
Unix timestampt of the first value is  1623790800.0